body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #70065f;
    color: #fff;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, font-weight 0.3s;
    padding-right: 30px;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: hsl(10, 33%, 96%); 
    font-weight: bold; 
    background-color: hotpink;
    
    
}


.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.overlay-text h1 {
    font-size: 4em;
    margin: 0;
}

.overlay-text p {
    font-size: 2em;
    margin: 0;
}
.cta-button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: rgb(236, 14, 121);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #c76dae;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.column {
    width: 27%;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}